.btn {
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-modal {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
}

[data-theme="black"] .btn-modal {
    background-color: #D4A854;
    color: white;
}

[data-theme="white"] .btn-modal {
    background-color: #6ED1C0;
    color: white;
}

.btn-header {
    background-color: transparent;
    border: none;
    color: white
}
