.btn {
    outline: none;
    border: none;
    cursor: pointer;
}

/*----모달창에 사용하는 버튼----*/
.btn-modal {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--btn-primary);
    color: var(--text-secondary);
}
/*---------------------------*/

/*-----헤더에 사용하는 버튼-----*/
.btn-header {
    background-color: transparent;
    border: none;
    color: var(--text-primary);
}
/*----------------------------*/