.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;

  display: flex;
  align-items: center;
  background-color: #0F0F0F;
  border: 1px solid #262626;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 10px 0px 10px;
}

.link {
  color: #DFDFD6;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.app-name {
  margin: 0px 5px 0px 5px;
  font-weight: 700;
}