.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  box-sizing: border-box;
  width: 520px;
  height: 580px;
  padding: 10px;
  border-radius: 16px;
  background-color: rgb(80, 80, 80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-header {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal-header-start {
  flex: 1;
  /* background-color: aqua; */
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header-center {
  flex: 8;
  /* background-color: rgb(68, 182, 34); */
}

.modal-header-end {
  flex: 1;
  /* background-color: rgb(170, 89, 65); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-icon {
  
  cursor: pointer;
}

[data-theme="black"] .modal-icon {
  color: white;
}

[data-theme="white"] .modal-icon {
  color: black;
}

.modal-step {
  flex: 1;

  display: flex;
  justify-content: space-between;
}

.modal-content {
  flex: 8;
}

.modal-footer {
  flex: 1;
  width: 100%;
}