body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;  /* 이렇게 변경 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar { /* 스크롤바 전체 */
  width: 15px;
}

::-webkit-scrollbar-track { /* 스크롤바 트랙 부분 */
  background: #2C2C2C;
}

::-webkit-scrollbar-thumb { /* 스크롤바 움직이는(막대) 부분 */
  background: #555;
  border-radius: 999px;
  border: 4px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
  border-radius: 999px;
  border: 4px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-button {
  background: #2C2C2C;
}

::-webkit-scrollbar-button:vertical:start {
  height: 16px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #555;
  
}

::-webkit-scrollbar-button:vertical:end {
  height: 16px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #555;
}